/* Note target the body first with the modifer.
For example, every evenSecond change the div color to blue.
Every oddSecond change the div color to red

body.evenS .time {
  color:blue;
}

body.oddS .time {
  color:red;
}

Target multiple together. Every evenSecond only in the evening, display an image.

body.evenS.pm .sunset {
  display:block;
}

*/


/* Time CSS here */

.swap_videos video {
  display: none;
}

body.quarterH .video1 {
  display: block;
}

body.halfH .video2{
  display: block;
}

body.threequarterH .video3{
  display: block;
}

body.fullH .video4{
  display: block;
}
